HOST=localhost
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=FR2NmljUbDR8UyNokyyyJBFVp71yyoAn
DB_CONNECTION=pg
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=inkin
SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt
GOOGLE_CLIENT_ID=987341840104-akad5n2bv83oi3omgfakt76b965t46i3.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=a_WH1QcxVeZMa92Ob5yrXJl_
